# Object files
obj/*
*.o
*.ko
*.obj
*.elf

# Autotools

Makefile.in
Makefile

/autom4te.cache
/build_aux
aclocal.m4
config.status
config.log
stamp-h1
.dirstamp


# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.out
bin/*
/client
/demo_opt_part_server
/opt_part_server
configure

#ide stuff
tags
Tags
*.swp

# other
# vtune output
r*hs 
# perf ouutput
perf*
# makefile generated
**/.deps/*

# Frontend files
/RUM_Visual_Front/* 
# runtime products

# test
data/*
testtool/*
!testtool/dataGen.py
!testtool/workGen.py
RUM_Visual_Front_bak/
