# Object files
obj/*
*.o
*.ko
*.obj
*.elf

# Autotools

Makefile.in
Makefile

/autom4te.cache
/build_aux
aclocal.m4
config.status
config.log
stamp-h1
.dirstamp


# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.out
bin/*
/server
/client
configure

#ide stuff
tags
Tags
*.swp

# other
# vtune output
r*hs 
# perf ouutput
perf*
# makefile generated
**/.deps/*
 
# runtime products
dbinfo
foo.*

# test
data/*
